<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ApplicationSettings" type="HcsLib.WindowsPhone.Configuration.ApplicationSettingsSection,HcsLib.WindowsPhone" />
  </configSections>
  <ApplicationSettings>
    <appSettings>
      <add key="ConsumerKey" value="06f7388069c8e4bd14e5a9813d5aae37"/>
      <add key="ConsumerSecret" value="e54a9e185ebab0de" />
      <add key="AccessToken" value=""/>
      <add key="AccessTokenSecret" value=""/>
    </appSettings>
  </ApplicationSettings>
</configuration>
