<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ApplicationSettings" type="HcsLib.WindowsPhone.Configuration.ApplicationSettingsSection,HcsLib.WindowsPhone" />
  </configSections>
  <ApplicationSettings>
    <appSettings>
      <add key="ConsumerKey" value="0717bbcbd8d4784a154733638a7d68de"/>
      <add key="ConsumerSecret" value="77719719bed40f87" />
      <add key="RedirectUrl" value="http://localhost" />
    </appSettings>
  </ApplicationSettings>
</configuration>
